/* css reset start*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* css reset finish */

/* Setting colours start*/

:root {
  /* ### Primary */
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);

  /* ### Neutral */
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}

/* Setting colours finish*/

/* body structure start */

body {
  display: flex; /*1/4 if creating modal window*/
  justify-content: center; /*2/4 if creating modal window*/
  align-items: center; /*3/4 if creating modal window*/
  min-height: 100vh; /*4/4 if creating modal window*/
  font-family: "Red Hat Display", sans-serif; /* defining font family*/
  text-align: center;
  background-color: var(--Pale-blue);
}
/* body structure finish */

.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.6rem;
  overflow: hidden;
  margin: 3.75rem 1.25rem;
  max-width: 22rem;
}

.container h1 {
  font-weight: 900;
}
.container-part p {
  padding: 0 0.25rem;
}
.container-part {
  padding: 1.25rem 1.5rem;
}

.container-part p,
.sub-container,
.button1 {
  margin-bottom: 1.25rem;
}

.container-part p,
.sub-sub-container a,
.button2 {
  color: var(--Desaturated-blue);
}

.sub-container {
  background-color: var(--Very-pale-blue);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 0.6rem;
  padding: 0.6rem;
}

.sub-sub-container h2 {
  font-size: 1rem;
}

.sub-container h2,
.container h1 {
  margin: 0;
}
.sub-sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 1.25rem;
}

.change {
  color: var(--Bright-blue);
  font-weight: 600;
}

.buttons a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.buttons a:nth-child(1) {
  padding: 0.8rem 1rem;
  background-color: var(--Bright-blue);
  color: white;
  border-radius: 0.6rem;
  box-shadow: 0.31rem 0.31rem 1.25rem grey;
}

/* Active states start */

.change:hover,
.change:active {
  text-decoration: none;
}

.buttons a:nth-child(1):hover,
.buttons a:nth-child(1):active {
  background-color: hsl(245deg 78.5% 69.07%);
}

.buttons a:nth-child(2):hover,
.buttons a:nth-child(2):active {
  font-weight: 700;
}

/* Active states finish */

@media (min-width: 90rem) {
  .container {
    font-size: 0.8rem;
  }
  .container-part p {
    padding: 0 0.5rem;
  }

  .sub-sub-container h2 {
    font-size: 1rem;
  }
  .sub-sub-container {
    margin-right: 2.5rem;
  }
}

.attribution {
  font-size: 0.6rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
